* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    padding: 15px;
}
.container {
    width: 500px;
    margin: 0 auto;
    background-color: #eff0f4;
    padding: 15px;
}

.header {
    border-bottom: 5px solid #32c0ad;
    padding-bottom: 20px;
}

.header #status {
    text-align: right;
    font-size: 25px;
}

.changeBackground {
    position: relative;
}
.changeBackground .title {
    position: absolute;
    top: 50%;
}

.changeBackground .btnCaption {
    position: absolute;
    bottom: -3px;
    text-transform: uppercase;
}

.btnIcon {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.btnIcon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
i {
    color: #333 !important;
}


.counter-wrapper {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    position: relative;
    
}
.counter-wrapper .title {
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}
.counter-wrapper > .item {
    padding: 30px;
    cursor: pointer;
}